// COLORS

$color-001: #ffffff;
$color-002: #000000;
$color-003: #707070;
$color-004: #f2e7d6;
$color-005: #929c72;
$color-006: #f9f4ec;
$color-007: #c0ce3c;
$color-008: #56a8a4;
$color-009: #dce25e;
$color-010: #c58160;

// FONT-FAMILY

$font-001: 'Rubik', sans-serif;
$font-002: 'Britannic', sans-serif;
$font-003: 'Amatic SC', sans-serif;
$font-004: 'Champagne';

// FONT-SIZE

$font-md: 16px;
$font-lg: 21px;
$font-xl: 34px;
$font-xxl: 39px;
$font-xxxl: 55px;

// BREAKPOINTS

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1815px;
